# Database Configuration
POSTGRES_USER=PrimitiveTechExperience
POSTGRES_PASSWORD="5Kd#Tqsg!xW6?h+"
POSTGRES_DB=CSC309W11 Lab

# Node Environment
NODE_ENV=production

# Database URL for Prisma
DATABASE_URL=postgresql://postgres.slnyimthqvimveffvmot:${POSTGRES_PASSWORD}@aws-0-us-west-2.pooler.supabase.com:6543/postgres